.toast-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.toastify {
    width: 400px;
    /*     margin-bottom: yellow 2px solid;*/
    color: white;
    height: 60px;
    position: relative;
}


.toastify::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    height: 10px;
    width: 100%;
    animation: rev 5s;
}

@keyframes rev {
    100% {
        width: 0%;
    }
}
